<body>
  <section class="pricing py-5">
    <div class="container">
      <h1>Expense Tracker - Premium Membership Plans</h1>

      <div class="row">
        <!-- Monthly Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">
                Monthly
              </h5>
              <h6 class="card-price text-center">
                ₹199<span class="period"></span>
              </h6>
              <hr />
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>Dark
                  Mode
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Expenses Leaderboard
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Download Expenses
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>Check
                  Download History
                </li>
              </ul>
              <div class="d-grid">
                <a
                  id="199"
                  class="btn btn-primary text-uppercase"
                  (click)="handlePayment($event)"
                  >BUY NOW</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 3 Months Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">
                3 Months
              </h5>
              <h6 class="card-price text-center">
                ₹449<span class="period"></span>
              </h6>
              <hr />
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>Dark
                  Mode
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Expenses Leaderboard
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Download Expenses
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>Check
                  Download History
                </li>
              </ul>
              <div class="d-grid">
                <a
                  id="449"
                  class="btn btn-primary text-uppercase"
                  (click)="handlePayment($event)"
                  >BUY NOW</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Annual Tier -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">
                Annualy
              </h5>
              <h6 class="card-price text-center">
                ₹999<span class="period"></span>
              </h6>
              <hr />
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>Dark
                  Mode
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Expenses Leaderboard
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Download Expenses
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>Check
                  Download History
                </li>
              </ul>
              <div class="d-grid">
                <a
                  id="999"
                  class="btn btn-primary text-uppercase"
                  (click)="handlePayment($event)"
                  >BUY NOW</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
